<!-- word footer -->
<footer>
    <section>
        <div class="container container-footer">
            <nav>
                <ul>
                    <li>FAQ</li>
                    <li>Reviews</li>
                    <li>License Agreement</li>
                    <li>Contact us</li>
                    <li>Account security</li>
                    <li>Refunding policy</li>
                </ul>
            </nav>
            <div class="logotype">
                <img src="/assets/image/logotype.svg" alt="">
            </div>
            <ul class="social">
                <li><img src="/assets/image/social/Telegram.svg" alt=""></li>
                <li><img src="/assets/image/social/Skype.svg" alt=""></li>
                <li><img src="/assets/image/social/Instagram.svg" alt=""></li>
                <li><img src="/assets/image/social/Facebook.svg" alt=""></li>
                <li><img src="/assets/image/social/discord.svg" alt=""></li>
            </ul>
        </div>
    </section>
    <section>
        <div class="container container-info">
            <p>(с) World of Warcraft, WoW, Overwatch, Hearthstone,Heroes of the Storm, Diablo 3 and Blizzard Entertainment are registered trademarks of Blizzard Entertainment Inc DESTINY 2 is registrerd tragemark of BUNGIE INC.</p>
        </div>
    </section>
</footer>