.modal-alert-buy{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 6;
    background: linear-gradient(91.07deg, #E5453D -15.2%, #FF7A2E 225.8%);
    border-radius: 10px;
    padding: 10px;
    h3{
        margin: 0;
        padding: 0;
    }
}